{% extends "Backend/FormOne.html.twig" %}

{% block pagecontent %}

<!-- jQuery UI CSS CDN -->
<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet">

<!-- jQuery UI JS CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<div class="right_col" role="main">
    <div class="col-md-6 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Formulaire d'ajout d'événement<small>Ajouter un événement</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                {{ form_start(event_form, {'attr': {'novalidate': 'novalidate'}}) }}
                <form class="form-horizontal form-label-left" novalidate>
                    {#--------Labels input------------#}
                    <div class="form-group row ">
                        {{ form_label(event_form.name, "Nom", {'label_attr': {'class': 'control-label col-md-3 col-sm-3'}}) }}
                        <div class="col-md-9 col-sm-9">
                            {{ form_widget(event_form.name, {'attr': {'class': 'form-control', 'placeholder' : 'Nom de l\'événement', 'required': 'required'}}) }}
                             <div class="form-horizontal form-label-left">
                             {{ form_errors(event_form.name)}}
                        </div>
                        </div>
                    </div>
                    <div class="form-group row ">
                        {{ form_label(event_form.description, "Description", {'label_attr': {'class': 'control-label col-md-3 col-sm-3'}}) }}
                        <div class="col-md-9 col-sm-9">
                            {{ form_widget(event_form.description, {'attr': {'class': 'form-control', 'placeholder' : 'Description de l\'événement'}}) }}
                             <div class="form-horizontal form-label-left">
                             {{ form_errors(event_form.description)}}
                        </div>
                        </div>
                    </div>
                    <div class="form-group row ">
                        {{ form_label(event_form.capacity, "Capacité", {'label_attr': {'class': 'control-label col-md-3 col-sm-3'}}) }}
                        <div class="col-md-9 col-sm-9">
                            {{ form_widget(event_form.capacity, {'attr': {'class': 'form-control', 'placeholder' : 'Capacité de l\'événement'}}) }}
                            <div class="form-horizontal form-label-left">
                             {{ form_errors(event_form.capacity)}}
                        </div>
                        </div>
                    </div>
                    <div class="form-group row ">
                        {{ form_label(event_form.reserved, "Reserved", {'label_attr': {'class': 'control-label col-md-3 col-sm-3'}}) }}
                        <div class="col-md-9 col-sm-9">
                            {{ form_widget(event_form.reserved, {'attr': {'class': 'form-control', 'placeholder' : 'Reserved'}}) }}
                             <div class="form-horizontal form-label-left">
                             {{ form_errors(event_form.reserved)}}
                        </div>
                        </div>
                    </div>
                    <div class="form-group row ">
                        {{ form_label(event_form.destination, "Destination", {'label_attr': {'class': 'control-label col-md-3 col-sm-3'}}) }}
                        <div class="col-md-9 col-sm-9">
                            {{ form_widget(event_form.destination, {'attr': {'class': 'form-control', 'placeholder' : 'Destination de l\'événement'}}) }}
                             <div class="form-horizontal form-label-left">
                             {{ form_errors(event_form.destination)}}
                        </div>
                        </div>
                    </div>
                    <div class="form-group row ">
                       {{ form_label(event_form.image_file, "Image", {'label_attr': {'class': 'control-label col-md-3 col-sm-3'}}) }}

                        <div class="col-md-9 col-sm-9">
                            {{ form_widget(event_form.image_file, {'attr': {'class': 'form-control'}}) }}
                             <div class="form-horizontal form-label-left">
                             {{ form_errors(event_form.image_file)}}
                        </div>
                        </div>
                    </div>
                    <div class="form-group row ">
                        {{ form_label(event_form.prix, "Prix", {'label_attr': {'class': 'control-label col-md-3 col-sm-3'}}) }}
                        <div class="col-md-9 col-sm-9">
                            {{ form_widget(event_form.prix, {'attr': {'class': 'form-control', 'placeholder' : 'Prix de l\'événement'}}) }}
                             <div class="form-horizontal form-label-left">
                             {{ form_errors(event_form.prix)}}
                        </div>
                        </div>
                    </div>
                    <div class="form-group row ">
                        {{ form_label(event_form.date, "Date debut", {'label_attr': {'class': 'control-label col-md-3 col-sm-3'}}) }}
                        <div class="col-md-9 col-sm-9">
                            {{ form_widget(event_form.date, {'attr': {'class': 'date-picker form-control', 'placeholder':'jj/mm/aaaa','onfocus': 'this.type=\'date\'', 'onmouseover': 'this.type=\'date\'', 'onclick': 'this.type=\'date\'', 'onblur': 'this.type=\'text\'', 'onmouseout': 'timeFunctionLong(this)'}}) }}
                             <div class="form-horizontal form-label-left">
                             {{ form_errors(event_form.date)}}
                        </div>
                        </div>
                    </div>
                    <div class="form-group row ">
                        {{ form_label(event_form.end, "Date fin", {'label_attr': {'class': 'control-label col-md-3 col-sm-3'}}) }}
                        <div class="col-md-9 col-sm-9">
                            {{ form_widget(event_form.end, {'attr': {'class': 'date-picker form-control', 'placeholder':'jj/mm/aaaa','onfocus': 'this.type=\'date\'', 'onmouseover': 'this.type=\'date\'', 'onclick': 'this.type=\'date\'', 'onblur': 'this.type=\'text\'', 'onmouseout': 'timeFunctionLong(this)'}}) }}
                             <div class="form-horizontal form-label-left">
                             {{ form_errors(event_form.end)}}
                        </div>
                        </div>
                    </div>
                    <div class="form-group row ">
                        {{ form_label(event_form.all_day, "All Day", {'label_attr': {'class': 'control-label col-md-3 col-sm-3'}}) }}
                        <div class="col-md-9 col-sm-9">
                            {{ form_widget(event_form.all_day, {'attr': {'class': 'date-picker form-control', 'placeholder':'jj/mm/aaaa','onfocus': 'this.type=\'date\'', 'onmouseover': 'this.type=\'date\'', 'onclick': 'this.type=\'date\'', 'onblur': 'this.type=\'text\'', 'onmouseout': 'timeFunctionLong(this)'}}) }}
                             <div class="form-horizontal form-label-left">
                             {{ form_errors(event_form.all_day)}}
                        </div>
                        </div>
                    </div>
                    <div class="form-group row ">
                        {{ form_label(event_form.numberofdays, "Nombre de jours", {'label_attr': {'class': 'control-label col-md-3 col-sm-3'}}) }}
                        <div class="col-md-9 col-sm-9">
                            {{ form_widget(event_form.numberofdays, {'attr': {'class': 'form-control', 'placeholder' : 'Nombre de jours de l\'événement'}}) }}
                             <div class="form-horizontal form-label-left">
                             {{ form_errors(event_form.numberofdays)}}
                        </div>
                        </div>
                    </div>
                    <div class="form-group row ">
                        {{ form_label(event_form.background_color, "background_color", {'label_attr': {'class': 'control-label col-md-3 col-sm-3'}}) }}
                        <div class="col-md-9 col-sm-9">
                            {{ form_widget(event_form.background_color, {'attr': {'class': 'form-control', 'placeholder' : 'Nombre de jours de l\'événement'}}) }}
                             <div class="form-horizontal form-label-left">
                             {{ form_errors(event_form.background_color)}}
                        </div>
                        </div>
                    </div>
                     <div class="form-group row ">
                        {{ form_label(event_form.border_color, "border color", {'label_attr': {'class': 'control-label col-md-3 col-sm-3'}}) }}
                        <div class="col-md-9 col-sm-9">
                            {{ form_widget(event_form.border_color, {'attr': {'class': 'form-control', 'placeholder' : 'Nombre de jours de l\'événement'}}) }}
                             <div class="form-horizontal form-label-left">
                             {{ form_errors(event_form.border_color)}}
                        </div>
                        </div>
                    </div>
                     <div class="form-group row ">
                        {{ form_label(event_form.text_color, "text_color", {'label_attr': {'class': 'control-label col-md-3 col-sm-3'}}) }}
                        <div class="col-md-9 col-sm-9">
                            {{ form_widget(event_form.text_color, {'attr': {'class': 'form-control', 'placeholder' : 'Nombre de jours de l\'événement'}}) }}
                             <div class="form-horizontal form-label-left">
                             {{ form_errors(event_form.text_color)}}
                        </div>
                        </div>
                    </div>
                    <!-- Autres champs de votre entité Event à ajouter ici -->

                    {#-------- Fin - Label input------------#}
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 offset-md-3">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                      {{ form_rest(event_form) }}
                      {{ form_end(event_form) }}
                </form>
              
            </div>
        </div>
    </div>
</div>

{% endblock %}
