{% include 'reusable/listCSS.html.twig' %}


{% block body %}
<br>
<br>
<br>

{% if blogs is not defined or blogs is empty %}
    <h3>Aucun blog</h3>
{% else %}
    <table class="author-table">
        <tr>
            <td>TITRE</td>
            <td>CONTENT</td>
            <td>IMAGE</td>
            <td>Date</td>
            <td>Actions</td> {# Add a new column for actions #}
        </tr>
        {% for unit in blogs %}
            <tr>
                <td>{{ unit.TITRE|upper }}</td>
                <td>{{ unit.CONTENT }}</td>
                <td>{{ unit.IMAGEB }}</td>
                <td>{{ unit.date|date('Y-m-d') }}</td> {# Assuming 'date' is the property for the date field #}
                <td>
                    <a href="{{ path('edit-blog', {'id': unit.id}) }}" class="edit-button">Edit</a>
                    <a href="{{ path('delete-blog', {'id': unit.id}) }}" class="delete-button">Delete</a>
                </td> {# Add buttons for Edit and Delete with appropriate links #}
            </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock %}
