{% include 'reusable/formCSS.html.twig' %}
{% include 'reusable/headerButtons.html.twig' %}

<br>
<br>
<br>

{{ form_start(activite_form) }}
<div class="form-container">
    <div class="form-group">
        {{ form_label(activite_form.identifiant, "Identifiant") }}
        {{ form_widget(activite_form.identifiant) }}
    </div>
    <div class="form-group">
        {{ form_label(activite_form.nom, "Nom") }}
        {{ form_widget(activite_form.nom) }}
    </div>
    <div class="form-group">
        {{ form_label(activite_form.date, "Date") }}
        {{ form_widget(activite_form.date) }}
    </div>
    <div class="form-group">
        {{ form_label(activite_form.type, "Type") }}
        {{ form_widget(activite_form.type) }}
    </div>
    <div class="form-group">
        {{ form_label(activite_form.description, "Description") }}
        {{ form_widget(activite_form.description) }}
    </div>
    <div class="form-group">
        <button type="submit" class="centered-button">Edit</button>
    </div>
</div>
{{ form_end(activite_form) }}

